* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: gray;
}

header {
    height: 40px;
    text-align: right;
    padding: 10px 20px 0 20px;
    text-decoration: none;
}

header:hover {
    background-color: #EFD9CE;
}

.logo-header {
    float: left;
    display: inline;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: #DE6854;
}

.contact-link, .travel-link {
    font-size: 18px;
    padding: 10px;
    font-weight: 300;
}

h1 {
    margin-top: 30px;
    font-weight: 400;
    color: #DE6854;  
}

.textContent {
    font-weight: 200;
}

.textContent {
    font-size: 26px;
    margin: 50px 200px 60px 200px;
    text-align: center;  
}

.footer {
    text-align: center;
    color: gray;
    display: block;
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    margin-top: 6%;
    margin-left: 46%;
}