main {
    width: auto;
    margin: 60px 300px;
}

.name-form {
    width: 300px;
}

.email {
    width: 300px;
}

textarea {
    width: 750px;
    height: 300px;
}

.footer {
    text-align: center;
    color: gray;
    display: block;
    position: absolute;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10%;
    margin-left: 46%;
}